{
  "extends": [
    "@gemunion/eslint-config/presets/js",
    "@gemunion/eslint-config/rules/jest"
  ],
  "parserOptions": {
    "babelOptions": {
      "configFile": "./.babelrc"
    }
  },
  "root": true,
}
