save-exact=true
package-lock=false
unsafe-perm=true

@memoryos:registry=https://npm.pkg.github.com/
@trejgun:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=a0b55863dce9f15b892eab5a7472673b4225a008