save-exact=true
package-lock=false
unsafe-perm=true

@memoryos:registry=https://npm.pkg.github.com/
@trejgun:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=f7c46bf63777419a23eb68f6e1812a78c11219b6